@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0; padding: 0;
  
}
body{
  background:#ddd;
  font-family:'Oswald', sans-serif;
}
.nav{
  position: sticky;
  top: 0;
  
}
.socialbar{
  background: #ddd;
  width: 700px;
  height: 30px;
  text-align: center;
  margin-top: 15px;
  
  
  
  
}
.socialone{
text-decoration: none;
}
.socialtwo{
  text-decoration: none;
  
  
}
. contact {
  width: 120px;
  float: left;
  
  
}
.nam{
  font-size: 20px;
  font-family: arial black;
 width:200px;
 align: center;
  
}
.topbar{
  width:700px;
  height: 40px;
  background:orange;
  color: white;
  
}
.menu{
  list-style:none;
}
.menuone{
  width:120px;
  float: left;
  margin-left: 30px; margin-top: 10px;
  
  }
.menutwo{
  width:120px;
  float:left;
  margin-top: 10px;
  
  
 }  
 .menuthree{
   width: 120;
   float: left;
   margin-top: 10px;
   
 }
 .menufour{
width: 110;
   float: left;
   margin-top: 10px;
 }
 .menufive{
   width: 140;
   float: left;
   margin-top: 10px;
   margin-left: 20px;
   
 }
 .intro{
   background: #d4fa0d;
   width: 700px;
   text-align: center;
   
   font-size: 40px;
   border: 1px solid blue;
   
   
   
 }
 .introtext{
   background: rgb(255,255,255);
   width: 700px;
   height: 200px;
   border: 2px solid black;
   font-size: 20px;
   
   
   
   
 }
 .imgcontent{
   width: 700px;
   
   
 }
 .headmem{
   background: orange;
   width: 700px;
   text-align: center;
   color: white;
   height: 40px;
   font-size: 30px;
 }
 .intromem{
   width: 700px;
 }
 .imgone{
   width: 200px;
   float: left;
   border: 1px solid orange;
   border-radius: 10px;
 }
 .imgtwo{
   width: 200px;
   float: left;
   border: 1px solid orange;
 }
 